$gel-tools-rem-enable--fallback: false;

@use '../../../sass-tools';

.demo-1 {
  font-size: sass-tools.toRem(16px);
}

.demo-2 {
  font-size: sass-tools.toRem(24px);
}

.demo-3 {
  font-size: sass-tools.toRem(32px);
}
