@import 'true';
@import '../../_sass-tools';

@include describe('Flip') {
  @include describe('function') {
    @include it('maintain ltr when setting text alignment') {
      @include assert {
        @include output {
          text-align: flip(left, right);
        }

        @include expect {
          text-align: left;
        }
      }
    }

    @include it('maintain ltr when setting float') {
      @include assert {
        @include output {
          float: flip(left, right);
        }

        @include expect {
          float: left;
        }
      }
    }

    @include it('maintain ltr when setting direction') {
      @include assert {
        @include output {
          direction: flip(ltr, rtl);
        }

        @include expect {
          direction: ltr;
        }
      }
    }

    @include it('maintain ltr when setting flex-direction') {
      @include assert {
        @include output {
          flex-direction: flip(row-reverse, row);
        }

        @include expect {
          flex-direction: row-reverse;
        }
      }
    }
  }

  @include describe('with rtl enabled') {
    @include it('flips the text alignment value') {
      @include assert {
        @include output {
          $rtl: true;
          @import '../../_sass-tools';

          text-align: flip(left, right);
        }

        @include expect {
          text-align: right;
        }
      }
    }

    @include it('flips the float value') {
      @include assert {
        @include output {
          $rtl: true;
          @import '../../_sass-tools';

          float: flip(left, right);
        }

        @include expect {
          float: right;
        }
      }
    }

    @include it('flips the direction value') {
      @include assert {
        @include output {
          $rtl: true;
          @import '../../_sass-tools';

          direction: flip(ltr, rtl);
        }

        @include expect {
          direction: rtl;
        }
      }
    }

    @include it('flips the flex-direction value') {
      @include assert {
        @include output {
          $rtl: true;
          @import '../../_sass-tools';

          flex-direction: flip(row-reverse, row);
        }

        @include expect {
          flex-direction: row;
        }
      }
    }
  }
}
