@import 'true';
@import '../../_sass-tools';

@include describe('Rem') {
  @include describe('function') {
    @include it('should return a quarter of the given value') {
      @include assert {
        @include output {
          font-size: toRem(16px);
        }

        @include expect {
          font-size: 1rem;
        }
      }
    }

    @include it('should return a third of the given value') {
      @include assert {
        @include output {
          font-size: toRem(24px);
        }

        @include expect {
          font-size: 1.5rem;
        }
      }
    }

    @include it('should return a halve of the given value') {
      @include assert {
        @include output {
          font-size: toRem(32px);
        }

        @include expect {
          font-size: 2rem;
        }
      }
    }
  }

  @include describe('mixin') {
    @include describe('with a pixel fallback') {
      @include it('should return a pixel and rem representation of the given value') {
        @include assert {
          @include output {
            @include toRem('font-size', 16px);
          }

          @include expect {
            font-size: 16px;
            font-size: 1rem;
          }
        }
      }

      @include it('should return a pixel and rem representation of the given value') {
        @include assert {
          @include output {
            @include toRem('font-size', 24px);
          }

          @include expect {
            font-size: 24px;
            font-size: 1.5rem;
          }
        }
      }

      @include it('should return a pixel and rem representation of the given value') {
        @include assert {
          @include output {
            @include toRem('font-size', 32px);
          }

          @include expect {
            font-size: 32px;
            font-size: 2rem;
          }
        }
      }
    }

    @include describe('without a pixel fallback') {
      @include it('should return a rem representation of the given value') {
        @include assert {
          @include output {
            $gel-tools-rem-enable--fallback: false;
            @import '../../_sass-tools';

            @include toRem('font-size', 16px);
          }

          @include expect {
            font-size: 1rem;
          }
        }
      }

      @include it('should return a rem representation of the given value') {
        @include assert {
          @include output {
            $gel-tools-rem-enable--fallback: false;
            @import '../../_sass-tools';

            @include toRem('font-size', 24px);
          }

          @include expect {
            font-size: 1.5rem;
          }
        }
      }

      @include it('should return a rem representation of the given value') {
        @include assert {
          @include output {
            $gel-tools-rem-enable--fallback: false;
            @import '../../_sass-tools';

            @include toRem('font-size', 32px);
          }

          @include expect {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
